// Descriptive Colors
$white: #ffffff;
$medium-white: #fafafa;
$blue: #1976d2;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$medium-grey: #cdc8c8;
$light-blue: #007bff;
$dark-blue: #0e2ba8;
$medium-black: #333333;
$black: #000000;
$semi-light-grey: #dddddd;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;