<!-- Sidebar -->
<nav #sideNav id="sidebar" class="active">
  <div class="sidebar-header">
    <h3>IT Support</h3>
  </div>
  <ul class="list-unstyled components">
    <li routerLinkActive="active">
      <a href="#" routerLink="/home">Dashboard</a>
    </li>
    <li class="d-none">
      <a href="#homeSubmenu">Manage Users</a>
    </li>
    <li routerLinkActive="active">
      <a href="#" routerLink="/createticket">Create Ticket</a>
    </li>
    <li routerLinkActive="active">
        <a href="#" routerLink="/tickets">View Tickets</a>
    </li>
    <li>
      <a href="javascript:void(0);" (click)="logout();" >Log out</a>
    </li>
  </ul>
</nav>