<div class="container content-container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          About Page
        </h1>
        <p>
          So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter
          likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts
          for a type specimen book.
        </p>
        <p>
          Whether a medieval typesetter chose to garble a well-known (but non-Biblical—that would have been
          sacrilegious) text, or whether a quirk in the 1914 Loeb Edition inspired a graphic designer, it's admittedly
          an odd way for Cicero to sail into the 21st century.
        </p>
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row">
      <div class="col-md-12">
        <h2>
          Lorem Ipsum Dolor
        </h2>
         <accordion [closeOthers]="true">
            <accordion-group heading="Static Header, initially expanded"
            [isOpen]="true">
              This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Another group">
              <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Another group">
              <p>Some content</p>
            </accordion-group>
          </accordion>
      </div>
    </div>
  </div>
