    <div class="container content-container">
      <div class="row">
        <div class="col-md-6">
         
          <div class="card">
              <div class="card-header bg-primary text-white">
                Overall Status
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Open</th>
                          <th scope="col">Closed</th>
                          <th scope="col">Total</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">General Issue</th>
                          <td>10</td>
                          <td>5</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <th scope="row">Software Issue</th>
                          <td>4</td>
                          <td>6</td>
                          <td>10</td>
                      
                        </tr>
                        <tr>
                          <th scope="row">Hardware Issue</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">Network Issue</th>
                          <td>0</td>
                          <td>4</td>
                          <td>0</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
        </div>
      
      </div>

      <hr class="divider"/>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header bg-primary text-white">
                    Issues assigned to me (5)
                  </div>
                  <div class="card-body">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Project</th>
                              <th scope="col">Status</th>
                              <th scope="col">Tracker</th>
                              <th scope="col">Subject</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Due Date</th>
                           
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="row">TS1245</td>
                              <td>Santsang</td>
                              <td scope="col">Resolved</td>
                              <td scope="col">General Issue</td>
                              <td scope="col">Download hot nahi</td>
                              <td scope="col">05-04-2019</td>
                              <td scope="col">15-05-2019</td>
                             
                            </tr>
                            <tr>
                                <td scope="row">TS1246</td>
                                <td>Santsang</td>
                                <td scope="col">New</td>
                                <td scope="col">Hardware Issue</td>
                                <td scope="col">Tab not working</td>
                                <td scope="col">03-04-2019</td>
                                <td scope="col">02-05-2019</td>
                          
                            </tr>
                            <tr>
                                <td scope="row">TS1247</td>
                                <td>Ebooking</td>
                                <td scope="col">In Progress</td>
                                <td scope="col">Network Issue</td>
                                <td scope="col">Error in establishing connection</td>
                                <td scope="col">05-03-2019</td>
                                <td scope="col">15-04-2019</td>
                               
                              
                            </tr>
                            <tr>
                                <td scope="row">TS1248</td>
                                <td>Santsang</td>
                                <td scope="col">Resolved</td>
                                <td scope="col">Generl Issue</td>
                                <td scope="col">Download hot nahi</td>
                                <td scope="col">05-04-2019</td>
                                <td scope="col">15-05-2019</td>
                              
                            </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
          </div>
         
      </div>

      <hr class="divider"/>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header bg-primary text-white">
                    Watched Issues (32)
                  </div>
                  <div class="card-body">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Project</th>
                              <th scope="col">Status</th>
                              <th scope="col">Tracker</th>
                              <th scope="col">Subject</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Due Date</th>
                              <th scope="col">Assignee</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="row">TS1245</td>
                              <td>Santsang</td>
                              <td scope="col">Resolved</td>
                              <td scope="col">General Issue</td>
                              <td scope="col">Download hot nahi</td>
                              <td scope="col">05-04-2019</td>
                              <td scope="col">15-05-2019</td>
                              <td scope="col">Mahesh</td>
                            </tr>
                            <tr>
                                <td scope="row">TS1246</td>
                                <td>Santsang</td>
                                <td scope="col">New</td>
                                <td scope="col">Hardware Issue</td>
                                <td scope="col">Tab not working</td>
                                <td scope="col">03-04-2019</td>
                                <td scope="col">02-05-2019</td>
                                <td scope="col">Satish more</td>
                          
                            </tr>
                            <tr>
                                <td scope="row">TS1247</td>
                                <td>Ebooking</td>
                                <td scope="col">In Progress</td>
                                <td scope="col">Network Issue</td>
                                <td scope="col">Error in establishing connection</td>
                                <td scope="col">05-03-2019</td>
                                <td scope="col">15-04-2019</td>
                                <td scope="col">Gajanan Sonkar</td>
                              
                            </tr>
                            <tr>
                                <td scope="row">TS1248</td>
                                <td>Santsang</td>
                                <td scope="col">Resolved</td>
                                <td scope="col">Generl Issue</td>
                                <td scope="col">Download hot nahi</td>
                                <td scope="col">05-04-2019</td>
                                <td scope="col">15-05-2019</td>
                                <td scope="col">Mahesh</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
