<div class="container content-container">
  <div class="row">
    <div class="col-md-12">
      <h2>
       New Ticket
      </h2>
      <hr class="divider"/>
       <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="application"><strong>Application Name</strong></label>
              <select formControlName="application" class="form-control"  
              [ngClass]="{ 'is-invalid': submitted && f.application.errors }" > 
                <option value=""> Select Application  </option>
                <option value="donation"> Donation  </option>
                <option value="satsang"> Satsang Mobile App </option>
                <option value="dharmakshetra"> Dharmakshetra </option>
                <option value="ebooking"> Ebooking </option>
                <option value="oms"> OMS </option>
              </select>
              <div *ngIf="submitted && f.application.errors" class="invalid-feedback">
                <div *ngIf="f.application.errors.required">Application name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group btn-search-application">
                <label for="">&nbsp;</label>
                <button class="btn btn-primary">Search</button>
              </div>
          </div>
         
        </div>
        <hr class="divider"/>
        <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <label for="category"><strong>Category</strong></label>
                <select formControlName="category" class="form-control"  
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }" > 
                  <option value=""> Select category  </option>
                  <option value="general"> General  </option>
                  <option value="production"> Production </option>
                  <option value="uat"> UAT </option>
                  <option value="environment"> Environment </option>
                </select>
                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">Category is required</div>
                </div>
              </div>
         </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="subject"><strong>Subject</strong></label>
                    <input type="text" formControlName="subject" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                      <div *ngIf="f.subject.errors.required">Subject is required</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description"><strong>Description</strong></label>
                    <textarea type="text" formControlName="description" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.description.errors }"> </textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                      <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                  </div>
            </div>
        </div>
        <hr class="divider"/>
        
        <!-- <hr class="divider"/> -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="status"><strong>Status</strong></label>
                  <select formControlName="status" class="form-control"  
                  [ngClass]="{ 'is-invalid': submitted && f.status.errors }" > 
                    <option value=""> Select status  </option>
                    <option value="New"> New  </option>
                    <option value="In Progress"> In Progress </option>
                    <option value="Closed"> Closed </option>
                    <option value="Reopened"> Reopened </option>
                    <option value="Deferred"> Deferred </option>
                    <option value="Invalid"> Invalid </option>
                  </select>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Status is required</div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="priority"><strong>Priority</strong></label>
                  <select formControlName="priority" class="form-control"  
                  [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" > 
                    <option value=""> Select priority  </option>
                    <option value="Minor"> Minor  </option>
                    <option value="Major"> Major </option>
                    <option value="Intermediate"> Intermediate </option>
                    <option value="Critical"> Critical </option>
                  </select>
                  <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                    <div *ngIf="f.priority.errors.required">Priority is required</div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="assignee"><strong>Assignee</strong></label>
                  <select formControlName="assignee" class="form-control"  
                  [ngClass]="{ 'is-invalid': submitted && f.assignee.errors }" > 
                    <option value=""> Select assignee  </option>
                    <option value="John Mike"> John Mike  </option>
                    <option value="Stephena Olevira"> Stephena Olevira </option>
                    <option value="Brad Michel"> Brad Michel </option>
                    <option value="Gerard Osollivean"> Gerard Osollivean </option>
                  </select>
                  <div *ngIf="submitted && f.assignee.errors" class="invalid-feedback">
                    <div *ngIf="f.assignee.errors.required">Assignee is required</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="dueDate"><strong>Due date</strong></label>
                  <date-picker formControlName="dueDate"  [dateValue]="dateValue" ></date-picker>
                  <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
                    <div *ngIf="f.dueDate.errors.required">Due date is required</div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="platform"><strong>Platform</strong></label>
                  <select formControlName="platform" class="form-control"  
                  [ngClass]="{ 'is-invalid': submitted && f.platform.errors }" > 
                    <option value=""> Select platform  </option>
                    <option value="Desktop"> Desktop  </option>
                    <option value="Tab"> Tab </option>
                    <option value="Mobile"> Mobile </option>
                  </select>
                  <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
                    <div *ngIf="f.platform.errors.required">Platform is required</div>
                  </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>
        <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary"> Create Ticket </button>
            </div>
        </div>
        </form>
    </div>
  </div>
</div>

<!-- <modal #errorModal> </modal> -->